.body{
    width: 95%;
    height: calc(100vh - 130px);;
    display: flex;
    justify-content: space-around;
}

.body h2 {
    text-decoration: underline;
}

.postsBody,.outletBody {
    width: 48%;
    overflow-y: auto;
    padding-left: 10px;
}

.postsBody {
    overflow-y: auto;
}
