.body {
    width:98%;
    height: calc(100vh - 130px);;
    overflow: auto;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.body h2 {
    text-decoration: underline;
}

.usersBody,.outletBody{
    width:48%;
    border: 1px solid black;
    overflow-y: auto;
    padding-left: 10px;
    max-height: 100vh;
}
