.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.users,.posts,.comments {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    overflow: scroll;
}

.users,.posts {
    width: 47%;
    height: 600px;
}

.posts {
    width: 47%;
    height: 600px;
}

.comments {
    margin-top: 1%;
    width: 97%;
    height: 600px;
}